.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
build/app.exe
build/cmake_install.cmake
build/CMakeCache.txt
build/libop.a
build/Makefile
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.28.0-rc5/CMakeCCompiler.cmake
build/CMakeFiles/3.28.0-rc5/CMakeCXXCompiler.cmake
build/CMakeFiles/3.28.0-rc5/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.28.0-rc5/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.28.0-rc5/CMakeRCCompiler.cmake
build/CMakeFiles/3.28.0-rc5/CMakeSystem.cmake
build/CMakeFiles/3.28.0-rc5/CompilerIdC/a.exe
build/CMakeFiles/3.28.0-rc5/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/a.exe
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/app.dir/build.make
build/CMakeFiles/app.dir/cmake_clean.cmake
build/CMakeFiles/app.dir/compiler_depend.internal
build/CMakeFiles/app.dir/compiler_depend.make
build/CMakeFiles/app.dir/compiler_depend.ts
build/CMakeFiles/app.dir/depend.make
build/CMakeFiles/app.dir/DependInfo.cmake
build/CMakeFiles/app.dir/flags.make
build/CMakeFiles/app.dir/includes_CXX.rsp
build/CMakeFiles/app.dir/link.txt
build/CMakeFiles/app.dir/linkLibs.rsp
build/CMakeFiles/app.dir/MAIN.cpp.obj
build/CMakeFiles/app.dir/MAIN.cpp.obj.d
build/CMakeFiles/app.dir/objects.a
build/CMakeFiles/app.dir/objects1.rsp
build/CMakeFiles/app.dir/progress.make
build/CMakeFiles/op.dir/build.make
build/CMakeFiles/op.dir/cmake_clean_target.cmake
build/CMakeFiles/op.dir/cmake_clean.cmake
build/CMakeFiles/op.dir/compiler_depend.internal
build/CMakeFiles/op.dir/compiler_depend.make
build/CMakeFiles/op.dir/compiler_depend.ts
build/CMakeFiles/op.dir/depend.make
build/CMakeFiles/op.dir/DependInfo.cmake
build/CMakeFiles/op.dir/flags.make
build/CMakeFiles/op.dir/includes_CXX.rsp
build/CMakeFiles/op.dir/link.txt
build/CMakeFiles/op.dir/linkLibs.rsp
build/CMakeFiles/op.dir/objects.a
build/CMakeFiles/op.dir/objects1.rsp
build/CMakeFiles/op.dir/progress.make
build/CMakeFiles/op.dir/src/add.cpp.obj
build/CMakeFiles/op.dir/src/add.cpp.obj.d
build/CMakeFiles/op.dir/src/div.cpp.obj
build/CMakeFiles/op.dir/src/div.cpp.obj.d
build/CMakeFiles/op.dir/src/mult.cpp.obj
build/CMakeFiles/op.dir/src/mult.cpp.obj.d
build/CMakeFiles/op.dir/src/sub.cpp.obj
build/CMakeFiles/op.dir/src/sub.cpp.obj.d
bin/app.exe
bin/app1.exe
bin/lib/shared/libop.dll
bin/lib/static/libop.dll.a
